.sidebar{
    background-color: white;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    font-size: 10px;
    vertical-align: center;
    text-align: center;
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    vertical-align: center;
    height: 24px;
    margin-bottom: 4px;
    
   }
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    text-align: center;

}